/* CSS for desktop mode */
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center cards horizontally */
    align-items: center; /* Center cards vertically */
    gap: 20px;
}

.card {
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.2s;
    width: 300px;
    display: flex;
    flex-direction: column;
}

.card:hover {
    transform: translateY(-5px);
}

.imagecap {
    max-height: 150px;
    overflow: hidden;
}

.imagecap img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.info {
    padding: 16px;
}

.title {
    font-size: 1.5rem;
    margin: 0;
}

.text {
    font-size: 1rem;
    color: #666;
}

/* CSS for banner carousel (desktop mode) */
.carousel-container {
    display: flex;
    width: 100%;
    height: 300px; /* Set the desired height for the banner */
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    justify-content: center;
}

.carousel-slide {
    display: none;
    width: 100%;
    height: 100%; /* Ensure all images have the same height */
}

.carousel-btn {
    cursor: pointer;
}

/* Media Query for mobile mode (disabling the carousel) */
@media (max-width: 768px) {
    .carousel-container {
        display: none;
    }
}

.links{
    
    color: #000; /* Replace #000 with your desired color code */
    text-decoration: none; /* Removes the underline from the link */
    
    
}

.banner{
    width: auto;
    height: 200px;
    background-color: rgb(27, 59, 111);
    margin-bottom: 20px ;
    margin-top: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}