* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contentbox1{
    background-color: rgb(88, 163, 213);
    width: 100%;
}

  /* Style the result container */
  #result {
    margin-top: 20px;
}

#result table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
}

#result th, #result td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

#result th {
    background-color: #f2f2f2;
}


#result table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    margin-top: 10px; /* Add margin for spacing between results */
}

#result th, #result td {
    border: 1px solid #ccc; /* Add borders around each cell */
    padding: 8px;
    text-align: left;
    border-collapse: collapse; /* Ensure the cell borders collapse */
}

#result th {
    /* Removed background-color property */
    font-weight: bold; /* Make category headers bold */
}

#result td {
    /* Add margin to create spacing between result rows */
    margin-top: 5px;
}

   /* Style the form container */
   .form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 10px; /* Add border radius for rounded corners */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}

/* Style form elements */
.form-container label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.form-container input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px; /* Increase the margin for more spacing */
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-container button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.form-container button:hover {
    background-color: #0056b3;

}
h1 {
    text-align: center;
    color: rgb(23, 55, 83);

}

  /* Improved button styles */
  button {
    background-color: rgb(23, 55, 83);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}

button:hover {
    background-color: #0056b3;
}